@import "@presentation/styles/mediaQueries.scss";
@import "@presentation/styles/colors.scss";

.inputWrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  
  &__form {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
  }

  &__input {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
    border: 2px solid $black;
    border-radius: 20px
  }
  
  &__button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    min-width: 60px;
    margin-right: 1rem;
    cursor: pointer;
    background-color: $primary;
    color: $white;
    font-weight: bolder;
    font-size: 1.1rem;
    min-width: 120px;
    border-radius: 20px;
    border: 1px solid $primary;

    &:disabled {
      background-color: $gray;
      border: 1px solid $gray;
      cursor: not-allowed
    }
  }
}

@media (max-width: $sm) {
  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__input, &__button {
      margin: 0;
      
    }
  }
}

