@import "@presentation/styles/colors.scss";

.attackModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: white;
  padding: 1rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__cost {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &--pill{
      padding: 0.3rem 0.5rem;
      border-radius: 20px;
    }
  }
}